// Color Variables

$color-default: #09101D !default;
$brand-primiary: #0b5fff !default;
$brand-secondary: #134194 !default;
$white: #fff !default;

// Variable Overrides

$font-family-base: "Source Sans Pro", "Source Serif Pro", -apple-system,
	BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-weight-light: 200 !default;
$font-weight-semi-bold: 600 !default;

$small-font-size: 0.75rem !default; // 12px

$h1-font-size: 2rem !default; // 32px
$h2-font-size: 1.5rem !default; // 24px
$h3-font-size: 1rem !default; // 16px
$h4-font-size: 1rem !default; // 16px
$h5-font-size: 0.875rem !default; // 14px
$h6-font-size: $small-font-size !default; // 12px
$mobile-font-size: 1.75rem !default; // 28px

// Custom Variables

$h1-display-font-size: 3rem !default; // 48px

$h6-line-height: 16px !default;
$secondary-text-line-height: 1.429 !default;

$spacing-default: 1.5rem !default; // 24px
$spacing-md: 1rem !default; // 16px
$spacing-sm: 0.75rem !default; // 12px
$spacing-xs: 0.5rem !default; // 8px