.homepage {
	.banner,
	.products h2,
	.resources h3 {
		text-align: center;
	}

	.banner {
		background-color: #f5f7fa;
		padding: 5rem 0 11.875rem;
	}

	.cta-card,
	.product-card {
		background-color: $white;
		border: 1px solid rgba(9, 16, 24, 0.12);
		border-radius: $border-radius;
		box-shadow: 0 6px 15px -6px rgba(9, 16, 29, 0.06);
		transition: transform 0.2s ease;

		&:hover {
			border-bottom: 3px solid $brand-primiary;
			box-shadow: 0 6px 11px 0 rgba(9, 16, 29, 0.09);
			margin-bottom: -3px;
			text-decoration: none;
			transform: translateY(-4px);
		}

		a {
			&:hover {
				text-decoration: none;
			}
		}

		.description {
			font-size: $h5-font-size;
			margin-bottom: 0;
		}

		.title {
			margin: 0;
		}
	}

	.cta-card {
		display: block;
		padding: $spacing-default;
		text-align: center;

		@include media-breakpoint-down(md) {
			margin-bottom: $spacing-default;

			&:hover {
				margin-bottom: 22px;
			}
		}

		.icon {
			height: 2.5rem;
			width: 2.5rem;
		}
	}

	.cta-links {
		justify-content: center;

		li {
			display: flex;
			flex-direction: column;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.cta-card {
			flex-grow: 1;
		}
	}

	.homepage-search {
		background-position: right 1.5rem center;
		background-size: 1rem;
		background-color: $white;
		background-image: clay-icon(search, $brand-primiary);
		background-repeat: no-repeat;
		border: 1px solid $brand-primiary;
		border-radius: $border-radius;
		color: $white;
		height: 2.75rem;
		padding: $spacing-sm $spacing-md;
		width: 45vw;
	}

	.product-card {
		margin-right: $spacing-default;
		margin-top: $spacing-default;
		padding: 1.25rem $spacing-default;

		.icon {
			height: 2rem;
			margin-right: $spacing-md;
			width: 2rem;
		}
	}

	.products {
		margin-bottom: 5rem;
		margin-top: -9.25rem;
	}

	.resources {
		h3 {
			text-transform: uppercase;
			margin-bottom: 2.125rem;
		}
	}

	.sub-heading {
		margin: $spacing-default 0 $spacing-default;
	}
}
